@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
 

.div{
    position:relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
   
}

.letra{font-family:Creepster;
color:black;
animation:mianimacion1 2s  ease 0s  infinite  normal forwards;
position:absolute;
transform: perspective(500px) rotate3d(0, 1, 0, 45deg); 
top:60vh;
left:0vh;



}
@keyframes mianimacion1 { 
   
    80% { 
    color:red;
    font-size:8em; 
    bottom:0vh; 
    } 
    90%{ left:20vh;
        bottom: 10vh;
    }
   } 

.image{
    height: 60vh;
    animation: mianimacion2 2s ease-in-out 0s   normal forwards; 
    position:absolute;
   left:0vh;
}
@keyframes mianimacion2 { 

  100% {  height: 100vh;}

}